<%= link_to "pricing sample", { :action => 'cantera' }, { :class => 'location_link' } %>
<%= link_to "floor plan", { :action => 'cantera_floor_plan' }, { :class => 'location_link' } %>
<%= link_to "introduction", { :action => 'send_pdf', :name => "Cantera_introduction" }, { :class => 'location_link' } %>
<%= link_to "location plan", { :action => 'cantera_location_plan' }, { :class => 'location_link' } %>
<%= link_to "site plan", { :action => 'cantera_site_plan' }, { :class => 'location_link' } %>
