<ul id="top_menu">
  <li><%= link_to "Home", :controller => "main", :action => "index" %></li>
  <li><%= link_to "Pricing", :controller => "main", :action => "pricing" %></li>
  <li><%= link_to "Advantage", :controller => "main", :action => "advantages" %></li>
  <li><%= link_to "22nd Street", :controller => "main", :action => "lombard" %></li>
  <li><%= link_to "Cantera", :controller => "main", :action => "cantera" %></li>
  <li><%= link_to "Developments", :controller => "main", :action => "developments" %></li>
</ul>
