<%= image_tag 'walker_logo.png' %>
<div class='details'>
  <h2>Marketing Agent</h2>
  <h2>630.462.0075</h2>
  <h2><a href="javascript:emailForm('walker');"><script type='text/javascript'> document.write('jrw'+'@'+'jrw'+'alker'+'.com');</script></a></h2>
</div>
