<%= render( :partial => "cantera_nav" ) %>
<br />
<div id='layout_text'>
  <h2>Office Condominium Development - Site Plan</h2>
</div>

<%= image_tag("cantera_site_plan.png", :alt=>"Cantera Office Condominium Site Plan") %>
