<%= render( :partial => "cantera_nav" ) %>
<%= link_to "download printer-friendly file", { :action => 'send_pdf', :name => "Cantera" }, { :class => 'download_link' } %>
<br />
<div id='layout_text'>
  <h2>Shell and Core Price: $140/Sq. Ft.</h2>
<%= image_tag("Cantera.png", :alt=>"Cantera Office Condominium") %>
