<div id='layout_text'>
  <h2>Office Condominium Development - Location Plan</h2>
</div>

<%= link_to "site plan", { :action => 'cantera_site_plan' }, { :class => 'location_link' } %>
<%= link_to "floor plan", { :action => 'cantera' }, { :class => 'location_link' } %>
<%= image_tag("cantera_location_plan.png", :alt=>"Cantera Office Condominium Location Plan") %>
