<%= link_to "site plan", { :action => 'cantera_site_plan' }, { :class => 'location_link' } %>
<%= link_to "location plan", { :action => 'cantera_location_plan' }, { :class => 'location_link' } %>
<%= link_to "download pdf", { :action => 'send_pdf', :name => "Cantera" }, { :class => 'download_link' } %>
<%= image_tag("Cantera.png", :alt=>"Cantera Office Condominium Floorplan") %>
