<%= link_to "download printer-friendly file", { :action => 'send_pdf', :name => "Lombard" }, { :class => 'download_link' } %>
<%= image_tag("Lombard.png", :alt=>"Lombard Office Condominium Floorplan") %>
