<%#= link_to "download printer-friendly file", { :action => 'send_pdf', :name => "Lombard" }, { :class => 'download_link' } %>
<br /><br />
<%= image_tag("Lombard.png", :alt=>"Lombard Office Condominium Floorplan") %>
<div id="lombard-info">
  <h2>Unit #111 - 1259 Sq. Ft.</h2>
  <h2>Last unsold suite</h2>
  <h2>Priced to sell</h2>
  <h2>$195,000</h2>
</div>
