<div id='layout_text'>
  <h2>Office Condominium Development</h2>
</div>

<div class='pricing_links'>
  pricing samples: 
  <%= link_to "1", { :action => 'sample_pricing', :name => '22nd_107' } %>
  <%= link_to "2", { :action => 'sample_pricing', :name => '22nd_107E' } %>
</div>
<%= link_to "download pdf", { :action => 'send_pdf', :name => "Lombard" }, { :class => 'download_link' } %>
<%= image_tag("Lombard.png", :alt=>"Lombard Office Condominium Floorplan") %>
