<h2>&nbsp;</h2>

<%= image_tag "walker_logo", :id=>'walker_logo' %>

<div id='walker_text'>
  <h2>
    Please contact Deborah Cerone or Jeff Walker to arrange a tour of one of our locations.
  </h2>

  <div id='walker_phone'>Tel: 630.462.0075</div>
  <div id='walker_email'>Email: <a href="javascript:emailForm('walker');"><script type='text/javascript'> document.write('jrw'+'@'+'jrw'+'alker'+'.com');</script></a></div>
</div>
