code/.bundle
code/config/environment.rb
code/config/setup_load_paths.rb
code/db/*.sqlite3
code/log/*.log
code/tmp/**/*
code/tmp/*
code/log/*
code/public/.htaccess
code/public/dispatch.fcgi
code/vendor/git-1.0.5
code/config/application.yml
