body#main {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", Arial, Verdana;
  background: url(/images/background.png);
  background-repeat: repeat-x;
  background-color: #fff;
  color: #555;
}

body#index_main {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", Arial, Verdana;
  font-size: 90%;
  background: url(/images/aa_rose_rendering.jpg);
  background-repeat: no-repeat;
  background-color: #fff;
  color: #555;
}

div#wrapper {
  width: 800px;
  margin: 0 auto 0 auto;
}

div#it {
  position: relative;
  width: 780px;
  min-height: 655px;
  margin: 0 auto 0 auto;
}

body#index_main div#it {
  min-height:650px;
}

div#top {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-variant: small-caps;
}

ul#top_menu {
  margin-left:60px;
}

ul li {
  /* list-style-image: url(/images/li.gif); */
  line-height: 20px;
  text-align: left;
}

ul#top_menu li {
  list-style: none;
  float: left;
}

ul#top_menu li a {
  font-size: 90%;
  color: #fff;
  text-decoration: none;
  padding: 20px 9px;
}

body#index_main ul#top_menu li a {
  color: #000;
}

a {
  color: #4d87ce;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #2d65ad;
}

ul#top_menu li a:hover {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #728d40;
  border-right: 1px solid #e9ffb7;
  padding: 20px 8px;
  color: #000;
  background-color: #fff;
}

#homepage_walker {
  position: absolute;
  top: 130px;
  right: 20px;
}

#advantage_walker {
  position: absolute;
  bottom: 40px;
  right: 0px;
  font-size: .7em;
  }

  #advantage_walker img {
    width: 300px;
  }

#pricing_walker img {
  margin-top: 20px;
  width: 300px;
}

#more_info_walker {
  position: absolute;
  bottom: 40px;
  right: 0px;
  font-size: .7em;
  }

  #more_info_walker img {
    width: 300px;
  }

.walker {
  text-align: right;
}

.walker .details {
  margin: -20px 30px 0 0;
}

.walker .details h2 {
  margin: 0;
  padding: 0;
}

h2#walker-header {
  margin-top: 90px;
  text-align: center;
}

.walker-column {
  width: 45%;
  float: left;
  text-align: center;
}

#layout_text {
  padding: 0 40px 20px 40px;
}

#ownership_text {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

#ownership_applet {
  position: absolute;
  top: 450px;
  right: 0;
  height: 300px;
  width: 350px;
  overflow: hidden;
}

#ownership_applet object {
  float: right;
}

#own_info_text {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-size: .8em;
  }

  #own_info_text h2 {
    font-size: 1.6em;
  }

  #own_info_text h3 {
    font-size: 1.3em;
  }

#development_text {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-size: .8em;
}

ul.ownership_advantages {
  font-size: 1.2em;
  width: 300px;
}

ul.ownership_advantages li {
  margin: 12px 4px;
}

#sidebar {
  width: 210px;
  float: right;
  font-size: 95%;
  color: #6c534a;
  text-align: left;
}

body#index_main #sidebar {
  background-color: #fff;
  border: 1px solid #a29787;
  padding: 10px;
}

#sidebar img.sidebar_face {
  width: 180px;
  border: 4px solid #b6cf84;
}

#sidebar h1 {
  font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid #eee;
  color: #728c48;
  text-align: right;
}

.standout {
  color: #617b37;
  font-size: 130%;
  font-variant: small-caps;
  font-style: italic;
}

#mainbar {
  margin-right: 230px;
  padding-right: 35px;
  background-image: url(/images/mainbar.jpg);
  background-position: top right;
  background-repeat: no-repeat;
}

#mainbar_full {
  width: 100%;
  min-height: 500px;
}

#mainbar_center {
  margin-left: auto;
  margin-right: auto;
}

#index_text {
  position: absolute;
  top: 330px;
  width: 550px;
  color: #666;
}

#slogan_text {
  position: absolute;
  font-style: italic;
  top: 435px;
  width: 100%;
  text-align: center;
}

.location_link {
  font-size: .8em;
  float: left;
  margin: 0 19px;
}

.download_link {
  font-size: .8em;
  float: right;
  margin-right: 10px;
}

body#index_main #mainbar {
  padding-top:200px;
}

img#logo {
  width: 180px;
  margin-top:-80px;
  float: right;
}

img#sidebar_logo {
  position:absolute;
  top: 325px;
  right: 20px;
}

.introduction {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-size: 100%;
  color: #99b198;
  text-indent: 25px;
  background-position: bottom left;
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-top: 0;
  background-repeat: no-repeat;
  min-height: 20px;
}

.introduction h1 {
  font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  line-height: 1.2em;
  font-size: 300%;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  color: #736451;
  margin-bottom: 10px;
  text-align: left;
}

.introduction h3 {
  font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  font-size: 200%;
}

.content_image {
  float: left;
  margin: 10px;
}

.portfolio_image {
  margin: 10px;
}

div#footer {
  width: 100%;
  background-color: #B6CF84;
  border-top: 1px solid #a29787;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  line-height: .8em;
  position: relative;
}

.footer_logo {
  width: 40px;
}

h2.header {
  font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid #eee;
  color: #728c40;
}

h3.header {
  font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  font-size: 110%;
  text-transform: uppercase;
  text-align: right;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #000;
  border-bottom: 1px solid #eee;
}

span.note {
  color: #510b7a;
}

#mainbar p {
  padding: 15px;
  line-height: 20px;
}

div.staff_box {
  padding: 10px;
}

h3.staff_name {
  line-height: .8em;
  font-variant: small-caps;
  color: #150962;
}

img.staff_image {
  width: 200px;
  float: left;
  margin: 20px;
}

p.staff_content {
  line-height: .8em;
  text-indent: .5em;
  color: #0b337a;
}

div.testimonial_box {
  padding: 10px;
  text-align: justify;
}

span.testimonial_giver {
  font-style: italic;
  float: right;
}  

div.heavy_box {
  border: 8px solid #cadec5;
  color: #9b988a;
  padding: 10px;
  width: 16em;
  margin: 0 auto 0 auto;
}

p.small {
  font-size: 80%;
  line-height: 1em;
}

.development_title {
  border-bottom: 1px solid #ddd;
}

.development_head {
  margin-top: 20px;
  font-weight: bold;
}

.developments {
  width: 500px;
  list-style: none;
  padding: 0;
  margin: 10px;
}

.developments li {
  list-style-image: none;
  width: 240px;
  float: left;
}

#more_info {
  font-size: .7em;
  padding-left: 20px;
}

#working_notice {
  font-weight: bold;
  color: #3a3;
  background-color #afa;
}

#not_working_notice {
  font-weight: bold;
  color: #a33;
  background-color #faa;
}

.bottom_li {
  padding-bottom: 10px;
}

.slideshow {
  margin: 20px 0;
}

.clearer:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
