<div id='homepage_walker' class='walker'>
  <%#= render( :partial => "walker" ) %>
</div>

<h3 id="index_text">A.A. Rose Construction Company has developed over 750,000 square feet of <span class='standout'>Office Condominium Suites</span> in DuPage County.</h3>
<div id="slogan_text"><h1>Quality in a Cost-Conscious World</h1></div>
<%= image_tag("logo.png", :alt=>"AA Rose Construction Company", :id=>"sidebar_logo") %>
