<%#= link_to "download printer-friendly file", { :action => 'send_pdf', :name => "Lombard" }, { :class => 'download_link' } %>
<br /><br />
<%= image_tag("Lombard.png", :alt=>"Lombard Office Condominium Floorplan") %>
<div id="lombard-info">
  <h2>Unit #111 - 1259 Sq. Ft.</h2>
  <h2>Last unsold suite</h2>
  <h2>Priced to sell</h2>
</div>

<div id='walker-footer'>
  <h3 class='red'>For more information or to arrange a tour, please contact:</h3>
  <%= image_tag 'sequoia_logo.png' %>
  <h3>Marketing and Sales</h3>
  <h4>(630) 424-8902</h4>
  <h5>Why rent when owning costs less?</h5>
</div>
