<div id='own_info_text'>
  <div id='more_info_walker' class='walker'>
    <%#= render( :partial => "walker" ) %>
  </div>
  <h2>Owning costs less than renting</h2>
  <h3>Assumptions</h3>
  <ul id="ownership_advantages">
    <li>1,000 Sq. Ft. Condominium Office</li>
    <li>Cost of Money - 5.6%, 5 year fixed, 25 year amortization, (Rates and Terms may vary)</li>
    <li>Triple Net Rent in comparable new office building @ $14.50/Sq. Ft.</li>
    <li>10 % Down Payment (SBA Loan)</li>
    <li>Purchase Price of a 1,000 Sq. Ft. office condominium unit @ $ 198/Sq. Ft. ($ 198,000 / $ 19,800 down payment)</li>
    <li>Lease escalation at 2% per year</li>
  </ul>

  <h3>Rent @ $14.50/Sq. Ft.</h3>

  <ul class="ownership_advantages">
    <li>1st year $14,500</li>
    <li>2nd year $14,790</li>
    <li>3rd year $15,086</li>
    <li>4th year $15,388</li>
    <li class="bottom_li">5th year $15,696</li>
    <li>Total rental payments $75,460</li>
  </ul>

  <h3>Purchase @ $198/Sq. Ft.</h3>

  <ul class="ownership_advantages">
    <li>1st year $13,260</li>
    <li>2nd year $13,260</li>
    <li>3rd year $13,260</li>
    <li>4th year $13,260</li>
    <li class="bottom_li">5th year $13,260</li>
    <li>Total mortgage payments $66,300</li>
    <li class="bottom_li">Less principal payments ($18,878)</li>
    <li>Net outflow $47,422</li>
  </ul>

  <p><b>90% financing may be available to qualified buyers</b></p>
</div>
<div id='ownership_applet' style='background-color:#fff'>
<!--[if !IE]>-->
  <object classid="java:Payment.class" type="application/x-java-applet" height="300" width="350">
    <param name="codebase" value="/" />
<!--<![endif]-->
    <object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" height="300" width="350">
      <param name="code" value="Payment" />
      <param name="codebase" value="/" />
    </object>
<!--[if !IE]>-->
  </object>
<!--<![endif]-->
</div>
<br />
<h2>Testimonial</h2>
<div id='testimonial-header'>
  <h3>FERNANDO S. ERENETA</h3>
  <p>FINANCIAL ADVISOR</p><br />

  <h3>RAYMOND JAMES&reg;</h3>
  <h3>4200 CANTERA DRIVE</h3>
  <h3>WARRENVILLE, IL 60555</h3>
</div>

<p>Quoted from Newsletter to Clients - April 30, 2012:</p>

<p id='testimonial-body'>&quot;The team and I are enjoying the new office space. The floor plan allows for better team communication, much more room for everyone to work and room for additional professionals. The other reason to move was economic. Instead of renting, I did the research and concluded that owning made more sense for the practice. I believe the bottom has been set for commercial real estate prices. The yearly amount I was paying in rent and variable charges would pay for an office condo in six years. The new office is just a few miles west from our former office and is conveniently located in the western suburbs of Chicago near the Winfield Road exit off tollway I-88. The team and I would love to have you stop by the office.&quot;</p>
